<div class="list">
  <a class="item item-icon-left item-icon-right" ui-sref=".purse">
    <i class="icon ion-ionic"></i>
    我的钱包
    <span class="item-note">￥123.45</span>
    <i class="icon ion-chevron-right"></i>
  </a>
  <a class="item item-icon-left" ui-sref=".card">
    <i class="icon ion-ionic"></i>
    银行卡
  </a>
</div>
<div class="list">
  <a class="item item-icon-left" ui-sref=".borrow">
    <i class="icon ion-ionic"></i>
    我的借款
  </a>
  <a class="item item-icon-left" ui-sref=".lend">
    <i class="icon ion-ionic"></i>
    我的出借
  </a>
</div>
<div class="list">
  <a class="item item-icon-left" ui-sref=".message">
    <i class="icon ion-ionic"></i>
    消息
    <span class="badge badge-assertive">3</span>
  </a>
  <a class="item item-icon-left" ui-sref=".settings">
    <i class="icon ion-ionic"></i>
    账户设置
  </a>
</div>